{
  "tabWidth": 3,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
